$width: 250px;

.root {
  @apply h-screen left-0 fixed lg:sticky z-[2] lg:z-[1] bottom-0 lg:bottom-auto top-0 overflow-scroll bg-white border-r border-[#E6EFF5];
  width: $width;
  transition: left 300ms ease-in-out;

  &.hide {
    left: -$width;
    @apply lg:left-0;
  }

  .header {
    @apply h-[80px] flex items-center px-10 space-x-2;

    img {
      @apply h-7;
    }
  }

  .menuItem {
    @apply flex items-center space-x-4 text-sm;
  }

  a {
    @apply text-[#B1B1B1] flex items-center py-2 px-10 my-2;

    &.active {
      @apply text-black relative;
  
      &::before {
        content: "";
        @apply bg-black h-full w-[5px] absolute left-0 top-0;
        @apply rounded-r-lg;
      }
    }
  }
}

.overlay {
  @apply block lg:hidden;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  transition: 300ms opacity ease-in-out;
  z-index: 2;
}